{% extends 'base.html' %}

{% block title %} لیست کارمندان دون‌پایه {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </p>
        {% endfor %}
    {% endif %}
    <h2>لیست کارمندان دون‌پایه سامانه</h2>

    {% if employee_list %}
    <table class="table table-hover table-striped">
        <thead>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>نام کاربری</th>
        <th>سمت</th>
        <th>ایمیل</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>
                    {{ employee.first_name }}
                </td>
                <td>
                    {{ employee.last_name }}
                </td>
                <td>
                    {{ employee.username }}
                </td>
                <td>
                    {{ employee.position }}
                </td>
                <td>
                    {{ employee.email }}
                </td>
                <td>
                    <a class="btn btn-default"
                       href="{% url 'people:employee-update' employee.pk %}"> ویرایش اطلاعات کارمند دون‌پایه
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger"
                       href="{% url 'people:employee-delete' employee.pk %}"> حذف کارمند دون‌پایه
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        در حال حاضر کارمند دون‌پایه‌ای در سامانه ثبت نشده است.
        <br/>
        <br/>
    {% endif %}
    <a href="{% url 'people:employee-create'%}" class="btn btn-primary">
اضافه کردن کارمند دون‌پایه جدید
    </a>
{% endblock %}