{% extends 'base.html' %}

{% block title %} لیست دانشجویان {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </p>
        {% endfor %}
    {% endif %}
    <h2>لیست دانشجویان سامانه</h2>

    {% if student_list %}
    <table class="table table-hover table-striped">
        <thead>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>نام کاربری</th>
        <th>شماره دانشجویی</th>
        <th>ایمیل</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        {% for student in student_list %}
            <tr>
                <td>
                    {{ student.first_name }}
                </td>
                <td>
                    {{ student.last_name }}
                </td>
                <td>
                    {{ student.username }}
                </td>
                <td>
                    {{ student.studentID }}
                </td>
                <td>
                    {{ student.email }}
                </td>
                <td>
                    <a class="btn btn-default"
                       href="{% url 'people:student-update' student.pk %}"> ویرایش اطلاعات دانشجو
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger"
                       href="{% url 'people:student-delete' student.pk %}"> حذف دانشجو
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        در حال حاضر دانشجویی در سامانه ثبت نشده است.
        <br/>
        <br/>
    {% endif %}
    <a href="{% url 'people:student-create'%}" class="btn btn-primary">
اضافه کردن دانشجوی جدید
    </a>
{% endblock %}