{% extends 'base.html' %}
{% block nav-items %}
    <li {% ifequal model_name  'دانشجو' %}class="active"{% endifequal %}><a href="{% url 'admin:student-list' %}">مدیریت دانشجویان</a></li>
    <li {% ifequal model_name  'کارمند دون‌پایه' %}class="active"{% endifequal %}><a href="{% url 'admin:employee-list' %}">مدیریت کارمندان</a></li>
    <li {% ifequal model_name  'سمت' %}class="active"{% endifequal %}><a href="{% url 'admin:position-list' %}">مدیریت سمت ها</a></li>
    <li {% ifequal model_name  'فرایند' %}class="active"{% endifequal %}><a href="{% url 'admin:process-list' %}">مدیریت فرایندها</a></li>
    <li {% ifequal model_name  'گام' %}class="active"{% endifequal %}><a href="{% url 'admin:step-list' %}">مدیریت گام ها</a></li>
{% endblock %}