{% extends 'admin_base.html' %}

{% block title %} {{ type }} {{ model_name }} {% endblock %}

{% block content %}
    <h2>{{ type }} {{ model_name }}</h2>
    <form method="post" class="form">
        <div class="form-inner">
            <div class="form-white-background">

                {% csrf_token %}
                {% for field in form %}
                    <div class="form-row">
                        <label>
                            <span>{{ field.label }}</span>
                            {{ field }}
                        </label>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">{{ type }}</button>
                <a href="{{ back_url }}">
                <button type="button" class="btn btn-danger">بازگشت</button>
                </a>
            </div>
        </div>
    </form>
{% endblock %}