{% extends 'base.html' %}

{% block title %} بررسی گام {% endblock %}

{% block content %}
    <h2>اطلاعات کلی</h2>

    <ul>
        <li>نام گام:
            {{ step_instance.step.name }}
        </li>
        <li>توضیح گام:
            {{ step_instance.step.description }}
        </li>
        <li>فرآیند:
            {{ step_instance.process }}
        </li>
        <li>اطلاعات دانشجو:
            {{ step_instance.student }}
        </li>
    </ul>
    <h2> تاریخچه عملیات گذشته</h2>
    <table class="table table-hover table-striped">
        <thead>
        <th>تاریخ</th>
        <th>وضعیت</th>
        <th>توسط</th>
        <th>جزییات</th>
        </thead>
        <tbody>
        {% for action in step_instance.actions.all %}
            <tr>
                <td>
                    {{ action.date }}
                </td>
                <td>
                    {% status_label action.status %}
                </td>
                <td>
                    {% if action.is_student_action %}
دانشجو
                        {% elif action.employee == request.employee %}
                            شما
                    {% else %}
                        {{ action.employee.full_name }}
                    {% endif %}
                </td>
                <td>
                    {{ action.details }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{% url 'employee:passfail-step-instance' step_instance.pk %}?type=accept">تایید</a>

    <a class="btn btn-danger" href="{% url 'employee:passfail-step-instance' step_instance.pk %}?type=reject">رد</a>

    {% if step_instance.step.has_payment %}
        <a class="btn btn-warning" href="{% url 'employee:recommit-step-instance' step_instance.pk %}?recommit_type=payment">اعلام خطا با پرداخت</a>
    {% endif %}


    {% if step_instance.step.needs_clarification %}
        <a class="btn btn-warning" href="{% url 'employee:recommit-step-instance' step_instance.pk %}?recommit_type=clarification">اعلام خطا با درخواست توضیحات</a>
    {% endif %}
        <a class="btn btn-default" href="{% url 'employee:show-responsibilities'  %}?">بازگشت</a>

{% endblock %}