{% extends 'employee_base.html' %}

{% block title %} استعلام گزارش {% endblock %}

{% block content %}
    <h2>استعلام گزارش </h2>

    {% for dict in action_set %}
    <h3> {{ dict.title }} </h3>
    <table class="table table-hover table-striped">
        <thead>
        <th>تاریخ</th>
        <th>وضعیت</th>
        <th>توسط</th>
        <th>جزییات</th>
        </thead>
        <tbody>
        {% for action in dict.actions %}
            <tr>
                <td>
                    {{ action.date }}
                </td>
                <td>
                    {% status_label action.status %}
                </td>
                <td>
                    {% if action.is_student_action %}
دانشجو
                        {% elif action.employee == request.employee %}
                            شما
                    {% else %}
                        {{ action.employee.full_name }}
                    {% endif %}
                </td>
                <td>
                    {{ action.details }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}

{% endblock %}