{% extends 'employee_base.html' %}

{% block title %} استعلام گزارش {% endblock %}

{% block show-active %}
{% endblock %}

{% block list-active %}
    active
{% endblock %}

{% block content %}
    <h2>استعلام گزارش </h2>
    <h4>در اینجا گزارشی از عملکرد خود را در سامانه میبینید</h4>
    {% for dict in action_set %}
    <h3> {{ dict.title }} </h3>
    <table class="table">
        <thead>
        <th>تاریخ</th>
        <th>وضعیت</th>
        <th>جزییات</th>
        </thead>
        <tbody>
        {% for action in dict.actions %}
            <tr>
                <td>
                    {{ action.date }}
                </td>
                <td>
                    {% status_label action.status %}
                </td>
                <td>
                    {{ action.details }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}

{% endblock %}