{% extends 'base.html' %}

{% block title %} وظایف شما کارمند عزیز {% endblock %}

{% block content %}
    <h2>لیست وظایف شما</h2>

    {% if step_instances %}
    <table class="table table-hover table-striped">
        <thead>
        <th>دانشجو</th>
        <th>فرایند</th>
        <th>گام</th>
        <th></th>
        </thead>
        <tbody>
        {% for step_instance in step_instances %}
            <tr>
                <td>
                    {{ step_instance.student }}
                </td>
                <td>
                    {{ step_instance.process }}
                </td>
                <td>
                    {{ step_instance.step }}
                </td>
                <td>
                    <a class="btn btn-default"
                       href="{% url 'employee:check-step-instance' step_instance.pk %}">
                        بررسی
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
در حال حاضر کار خاصی ندارید!
        <br/>
        <br/>
    {% endif %}
{% endblock %}