{% extends 'base.html' %}

{% block title %} پرداخت {% endblock %}

{% block content %}
    <h3>جزییات خطا</h3>
    <h4>{{ action.step_instance.name }}</h4>
    <h5> شما باید مبلغ
        {{ action.price }}
        تومان را بابت
        {{ action.concern }}
        پرداخت کنید
    </h5>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">پرداخت</button>
        <a type="button" class="btn btn-danger" href="{% url 'student:steps' action.step_instance.process_instance.pk %}">بازگشت</a>
    </form>
{% endblock %}