{% extends 'base.html' %}

{% block title %} گام‌های فرایند {% endblock %}

{% block content %}
    <h2>گام‌های فرآیند</h2>
    <table class="table table-hover table-striped">
        <thead>
        <th>نام</th>
        <th>تاریخ شروع</th>
        <th>تاریخ پایان</th>
        <th>وضعیت</th>
        <th></th>
        </thead>
        <tbody>
        {% for step_instance in step_instances %}
            <tr>
                <td>
                    {{ step_instance.name }}
                </td>
                <td>
                    {{ step_instance.start_date }}
                </td>
                <td>
                    {% if step_instance.end_date %}
                        {{ step_instance.end_date }}
                    {% else %}
                        --
                    {% endif %}
                </td>
                <td>
                    {% status_label step_instance.status %}
                </td>
                <td>
                    {% if step_instance.actions.count > 0 %}
                    <a class="btn btn-info" href="{% url 'student:actions' step_instance.process_instance.pk step_instance.pk %}">مشاهده جزییات</a>
                    {% endif %}
                    {% if step_instance.has_payment_recommit %}
                        <a href="{% url 'student:payment-action' step_instance.process_instance.pk step_instance.pk %}" class="btn btn-warning">برطرف کردن خطا</a>
                    {% endif %}
                    {% if step_instance.has_clarification_recommit %}
                        <a href="{% url 'student:clarification-action' step_instance.process_instance.pk step_instance.pk %}" class="btn btn-warning">برطرف کردن خطا</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'student:home' %}" class="btn btn-danger">بازگشت</a>
{% endblock %}