{% extends 'base.html' %}

{% block title %} تاریخچه عملیات {% endblock %}

{% block content %}
    <h2>{{ actions.first.step_instance.name }}</h2>
    <h5>{{ actions.first.step_instance.step.description }}</h5>
    <h3>تاریخچه عملیات</h3>
    <table class="table table-hover table-striped">
        <thead>
        <th>تاریخ</th>
        <th>وضعیت</th>
        <th>توسط</th>
        <th>جزییات</th>
        </thead>
        <tbody>
        {% for action in actions %}
            <tr>
                <td>
                    {{ action.date }}
                </td>
                <td>
                    {% status_label action.status %}
                </td>
                <td>
                    {% if action.is_student_action %}
                        شما
                    {% else %}
                        {{ action.employee.full_name }}
                    {% endif %}
                </td>
                <td>
                    {{ action.details }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'student:steps' actions.first.step_instance.process_instance.pk %}" class="btn btn-danger">بازگشت</a>
{% endblock %}